prompt_jordan/_backup/20260629-111757/cotar-plano-n8n.json
{
  "name": "CRM Persia - cotar_plano (Humana Saúde)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cotar-plano",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "cotar-plano"
    },
    {
      "parameters": {
        "jsCode": "// ===== cotar_plano — lookup de preços Humana Saúde =====\n// (OPCIONAL, recomendado) Verificação HMAC. Habilite DEPOIS de confirmar\n// no CRM Persia qual header e esquema de assinatura ele envia.\n// const crypto = require('crypto');\n// const SECRET = $env.COTAR_PLANO_SECRET;            // configure em n8n > Variables\n// const headers = $input.first().json.headers || {};\n// const sig = headers['x-signature'] || headers['x-hub-signature-256'];\n// const expected = 'sha256=' + crypto.createHmac('sha256', SECRET)\n//   .update(JSON.stringify(data)).digest('hex');\n// if (!sig || sig !== expected) { throw new Error('Assinatura HMAC inválida'); }\n\nconst root = $input.first().json;\nconst data = root.body ? root.body : root;\nconst args = data.input || data.arguments || data;\n\nconst perfil = String(args.perfil || '').toUpperCase();\nconst idade = parseInt(args.idade, 10);\nconst obstetricia = args.obstetricia === true || args.obstetricia === 'true';\n\nif (!['PF', 'PJ'].includes(perfil) || isNaN(idade)) {\n  throw new Error('Parâmetros inválidos: perfil (PF|PJ) e idade são obrigatórios.');\n}\n\nfunction faixaDe(i) {\n  if (i <= 18) return '0-18';   // ATENÇÃO fronteira 17/18: confirme a regra de negócio\n  if (i <= 23) return '19-23';\n  if (i <= 28) return '24-28';\n  if (i <= 33) return '29-33';\n  if (i <= 38) return '34-38';\n  if (i <= 43) return '39-43';\n  if (i <= 48) return '44-48';\n  if (i <= 53) return '49-53';\n  if (i <= 58) return '54-58';\n  return '59+';\n}\n\n// ============================================================\n// Tabela de preços \"Humana Saúde\" embutida (fonte: precos.json).\n// ============================================================\nconst PRICING = {\n  \"metadata\": {\n    \"notes\": \"PF deve exibir valor cheio e promocional; PJ exibe valor único.\",\n    \"version\": \"1.1.0\",\n    \"currency\": \"BRL\",\n    \"age_bands\": [\"0-18\",\"19-23\",\"24-28\",\"29-33\",\"34-38\",\"39-43\",\"44-48\",\"49-53\",\"54-58\",\"59+\"],\n    \"promo_rule\": \"PF deve exibir valor cheio e promocional; PJ exibe valor único.\",\n    \"price_format\": \"R$ 0.000,00\",\n    \"region_scope\": \"PI / Nordeste\"\n  },\n  \"pricing_tables\": {\n    \"pf_superior\": {\n      \"59+\": { \"Enfermaria Copay Completa\": { \"full\": 1556.33, \"promo\": 1245.06 }, \"Apartamento Copay Completa\": { \"full\": 1931.11, \"promo\": 1544.89 } },\n      \"0-18\": { \"Enfermaria Copay Completa\": { \"full\": 269.41, \"promo\": 215.53 }, \"Apartamento Copay Completa\": { \"full\": 334.3, \"promo\": 267.44 } },\n      \"19-23\": { \"Enfermaria Copay Completa\": { \"full\": 295.85, \"promo\": 236.68 }, \"Apartamento Copay Completa\": { \"full\": 367.11, \"promo\": 293.69 } },\n      \"24-28\": { \"Enfermaria Copay Completa\": { \"full\": 330.72, \"promo\": 264.58 }, \"Apartamento Copay Completa\": { \"full\": 410.37, \"promo\": 328.3 } },\n      \"29-33\": { \"Enfermaria Copay Completa\": { \"full\": 376.58, \"promo\": 301.26 }, \"Apartamento Copay Completa\": { \"full\": 467.32, \"promo\": 373.86 } },\n      \"34-38\": { \"Enfermaria Copay Completa\": { \"full\": 452.38, \"promo\": 361.9 }, \"Apartamento Copay Completa\": { \"full\": 561.42, \"promo\": 449.14 } },\n      \"39-43\": { \"Enfermaria Copay Completa\": { \"full\": 548.33, \"promo\": 438.66 }, \"Apartamento Copay Completa\": { \"full\": 680.51, \"promo\": 544.41 } },\n      \"44-48\": { \"Enfermaria Copay Completa\": { \"full\": 679.31, \"promo\": 543.45 }, \"Apartamento Copay Completa\": { \"full\": 842.93, \"promo\": 674.34 } },\n      \"49-53\": { \"Enfermaria Copay Completa\": { \"full\": 878.95, \"promo\": 703.16 }, \"Apartamento Copay Completa\": { \"full\": 1090.66, \"promo\": 872.53 } },\n      \"54-58\": { \"Enfermaria Copay Completa\": { \"full\": 1162.51, \"promo\": 930.01 }, \"Apartamento Copay Completa\": { \"full\": 1442.5, \"promo\": 1154 } }\n    },\n    \"pj_by_age_band\": {\n      \"59+\": { \"Vital Apartamento Copay Completa\": 749.15, \"Superior Enfermaria Copay Básica\": 901.79, \"Superior Apartamento Copay Básica\": 1267.3, \"Superior Enfermaria Copay Completa\": 1021.67, \"Superior Apartamento Copay Completa\": 1118.29 },\n      \"0-18\": { \"Vital Apartamento Copay Completa\": 129.6, \"Superior Enfermaria Copay Básica\": 155.74, \"Superior Apartamento Copay Básica\": 218.76, \"Superior Enfermaria Copay Completa\": 176.41, \"Superior Apartamento Copay Completa\": 193.06 },\n      \"19-23\": { \"Vital Apartamento Copay Completa\": 142.34, \"Superior Enfermaria Copay Básica\": 171.01, \"Superior Apartamento Copay Básica\": 240.27, \"Superior Enfermaria Copay Completa\": 193.74, \"Superior Apartamento Copay Completa\": 212.05 },\n      \"24-28\": { \"Vital Apartamento Copay Completa\": 159.1, \"Superior Enfermaria Copay Básica\": 191.14, \"Superior Apartamento Copay Básica\": 268.58, \"Superior Enfermaria Copay Completa\": 216.54, \"Superior Apartamento Copay Completa\": 237.03 },\n      \"29-33\": { \"Vital Apartamento Copay Completa\": 180.94, \"Superior Enfermaria Copay Básica\": 217.38, \"Superior Apartamento Copay Básica\": 305.33, \"Superior Enfermaria Copay Completa\": 246.26, \"Superior Apartamento Copay Completa\": 269.43 },\n      \"34-38\": { \"Vital Apartamento Copay Completa\": 216.78, \"Superior Enfermaria Copay Básica\": 261.13, \"Superior Apartamento Copay Básica\": 366.85, \"Superior Enfermaria Copay Completa\": 295.85, \"Superior Apartamento Copay Completa\": 323.75 },\n      \"39-43\": { \"Vital Apartamento Copay Completa\": 262.81, \"Superior Enfermaria Copay Básica\": 316.48, \"Superior Apartamento Copay Básica\": 444.63, \"Superior Enfermaria Copay Completa\": 358.55, \"Superior Apartamento Copay Completa\": 392.41 },\n      \"44-48\": { \"Vital Apartamento Copay Completa\": 326.92, \"Superior Enfermaria Copay Básica\": 393.77, \"Superior Apartamento Copay Básica\": 553.24, \"Superior Enfermaria Copay Completa\": 446.09, \"Superior Apartamento Copay Completa\": 488.25 },\n      \"49-53\": { \"Vital Apartamento Copay Completa\": 422.73, \"Superior Enfermaria Copay Básica\": 509.27, \"Superior Apartamento Copay Básica\": 715.58, \"Superior Enfermaria Copay Completa\": 576.9, \"Superior Apartamento Copay Completa\": 631.51 },\n      \"54-58\": { \"Vital Apartamento Copay Completa\": 559.48, \"Superior Enfermaria Copay Básica\": 673.76, \"Superior Apartamento Copay Básica\": 946.85, \"Superior Enfermaria Copay Completa\": 763.31, \"Superior Apartamento Copay Completa\": 835.59 }\n    },\n    \"pf_vital_com_obstetricia\": {\n      \"59+\": { \"Enfermaria Copay Básica\": { \"full\": 1106.77, \"promo\": 885.42 }, \"Apartamento Copay Básica\": { \"full\": 1312.11, \"promo\": 1049.69 }, \"Enfermaria Copay Completa\": { \"full\": 922.9, \"promo\": 692.18 }, \"Apartamento Copay Completa\": { \"full\": 1094.01, \"promo\": 820.51 } },\n      \"0-18\": { \"Enfermaria Copay Básica\": { \"full\": 189.76, \"promo\": 151.81 }, \"Apartamento Copay Básica\": { \"full\": 224.42, \"promo\": 179.54 }, \"Enfermaria Copay Completa\": { \"full\": 158.72, \"promo\": 119.04 }, \"Apartamento Copay Completa\": { \"full\": 187.61, \"promo\": 140.71 } },\n      \"19-23\": { \"Enfermaria Copay Básica\": { \"full\": 208.39, \"promo\": 166.71 }, \"Apartamento Copay Básica\": { \"full\": 246.52, \"promo\": 197.22 }, \"Enfermaria Copay Completa\": { \"full\": 174.25, \"promo\": 130.69 }, \"Apartamento Copay Completa\": { \"full\": 206.02, \"promo\": 154.52 } },\n      \"24-28\": { \"Enfermaria Copay Básica\": { \"full\": 232.97, \"promo\": 186.38 }, \"Apartamento Copay Básica\": { \"full\": 275.68, \"promo\": 220.54 }, \"Enfermaria Copay Completa\": { \"full\": 194.73, \"promo\": 146.05 }, \"Apartamento Copay Completa\": { \"full\": 230.32, \"promo\": 172.74 } },\n      \"29-33\": { \"Enfermaria Copay Básica\": { \"full\": 265.09, \"promo\": 212.07 }, \"Apartamento Copay Básica\": { \"full\": 313.77, \"promo\": 251.02 }, \"Enfermaria Copay Completa\": { \"full\": 221.5, \"promo\": 166.13 }, \"Apartamento Copay Completa\": { \"full\": 262, \"promo\": 196.55 } },\n      \"34-38\": { \"Enfermaria Copay Básica\": { \"full\": 318.45, \"promo\": 254.76 }, \"Apartamento Copay Básica\": { \"full\": 377.07, \"promo\": 301.66 }, \"Enfermaria Copay Completa\": { \"full\": 265.96, \"promo\": 199.47 }, \"Apartamento Copay Completa\": { \"full\": 314.81, \"promo\": 236.11 } },\n      \"39-43\": { \"Enfermaria Copay Básica\": { \"full\": 387.42, \"promo\": 309.94 }, \"Apartamento Copay Básica\": { \"full\": 458.87, \"promo\": 367.1 }, \"Enfermaria Copay Completa\": { \"full\": 323.44, \"promo\": 242.58 }, \"Apartamento Copay Completa\": { \"full\": 382.98, \"promo\": 287.24 } },\n      \"44-48\": { \"Enfermaria Copay Básica\": { \"full\": 482.61, \"promo\": 386.09 }, \"Apartamento Copay Básica\": { \"full\": 571.8, \"promo\": 457.44 }, \"Enfermaria Copay Completa\": { \"full\": 402.67, \"promo\": 302.07 }, \"Apartamento Copay Completa\": { \"full\": 477.09, \"promo\": 357.82 } },\n      \"49-53\": { \"Enfermaria Copay Básica\": { \"full\": 624.43, \"promo\": 499.54 }, \"Apartamento Copay Básica\": { \"full\": 740.01, \"promo\": 592.01 }, \"Enfermaria Copay Completa\": { \"full\": 520.95, \"promo\": 390.71 }, \"Apartamento Copay Completa\": { \"full\": 617.62, \"promo\": 462.95 } },\n      \"54-58\": { \"Enfermaria Copay Básica\": { \"full\": 826.23, \"promo\": 660.98 }, \"Apartamento Copay Básica\": { \"full\": 979.36, \"promo\": 783.49 }, \"Enfermaria Copay Completa\": { \"full\": 689.11, \"promo\": 516.83 }, \"Apartamento Copay Completa\": { \"full\": 816.72, \"promo\": 612.54 } }\n    },\n    \"pf_vital_sem_obstetricia\": {\n      \"59+\": { \"Enfermaria Copay Básica\": { \"full\": 996.42, \"promo\": 797.14 }, \"Apartamento Copay Básica\": { \"full\": 1237.92, \"promo\": 990.34 }, \"Enfermaria Copay Completa\": { \"full\": 830.54, \"promo\": 622.9 }, \"Apartamento Copay Completa\": { \"full\": 1032.19, \"promo\": 774.14 } },\n      \"0-18\": { \"Enfermaria Copay Básica\": { \"full\": 171.15, \"promo\": 136.92 }, \"Apartamento Copay Básica\": { \"full\": 211.92, \"promo\": 169.54 }, \"Enfermaria Copay Completa\": { \"full\": 143.21, \"promo\": 107.41 }, \"Apartamento Copay Completa\": { \"full\": 177.19, \"promo\": 132.89 } },\n      \"19-23\": { \"Enfermaria Copay Básica\": { \"full\": 187.92, \"promo\": 150.34 }, \"Apartamento Copay Básica\": { \"full\": 232.77, \"promo\": 186.22 }, \"Enfermaria Copay Completa\": { \"full\": 157.19, \"promo\": 117.89 }, \"Apartamento Copay Completa\": { \"full\": 194.56, \"promo\": 145.92 } },\n      \"24-28\": { \"Enfermaria Copay Básica\": { \"full\": 210.02, \"promo\": 168.02 }, \"Apartamento Copay Básica\": { \"full\": 260.24, \"promo\": 208.19 }, \"Enfermaria Copay Completa\": { \"full\": 175.6, \"promo\": 131.7 }, \"Apartamento Copay Completa\": { \"full\": 217.46, \"promo\": 163.09 } },\n      \"29-33\": { \"Enfermaria Copay Básica\": { \"full\": 238.93, \"promo\": 191.14 }, \"Apartamento Copay Básica\": { \"full\": 296.19, \"promo\": 236.95 }, \"Enfermaria Copay Completa\": { \"full\": 199.7, \"promo\": 149.77 }, \"Apartamento Copay Completa\": { \"full\": 247.41, \"promo\": 185.55 } },\n      \"34-38\": { \"Enfermaria Copay Básica\": { \"full\": 286.94, \"promo\": 229.55 }, \"Apartamento Copay Básica\": { \"full\": 355.87, \"promo\": 284.7 }, \"Enfermaria Copay Completa\": { \"full\": 237.71, \"promo\": 178.28 }, \"Apartamento Copay Completa\": { \"full\": 297.15, \"promo\": 222.86 } },\n      \"39-43\": { \"Enfermaria Copay Básica\": { \"full\": 349.01, \"promo\": 279.21 }, \"Apartamento Copay Básica\": { \"full\": 433.04, \"promo\": 346.43 }, \"Enfermaria Copay Completa\": { \"full\": 291.43, \"promo\": 218.57 }, \"Apartamento Copay Completa\": { \"full\": 361.46, \"promo\": 271.09 } },\n      \"44-48\": { \"Enfermaria Copay Básica\": { \"full\": 434.71, \"promo\": 347.77 }, \"Apartamento Copay Básica\": { \"full\": 539.59, \"promo\": 431.67 }, \"Enfermaria Copay Completa\": { \"full\": 362.48, \"promo\": 271.86 }, \"Apartamento Copay Completa\": { \"full\": 450.25, \"promo\": 337.69 } },\n      \"49-53\": { \"Enfermaria Copay Básica\": { \"full\": 562.32, \"promo\": 449.86 }, \"Apartamento Copay Básica\": { \"full\": 698.23, \"promo\": 558.58 }, \"Enfermaria Copay Completa\": { \"full\": 463.49, \"promo\": 347.61 }, \"Apartamento Copay Completa\": { \"full\": 582.45, \"promo\": 436.83 } },\n      \"54-58\": { \"Enfermaria Copay Básica\": { \"full\": 743.92, \"promo\": 595.14 }, \"Apartamento Copay Básica\": { \"full\": 924, \"promo\": 739.2 }, \"Enfermaria Copay Completa\": { \"full\": 650.52, \"promo\": 487.89 }, \"Apartamento Copay Completa\": { \"full\": 770.59, \"promo\": 577.94 } }\n    },\n    \"competitor_unimed_sem_copay\": {\n      \"enfermaria\": { \"59+\": 1623.41, \"0-18\": 272.45, \"19-23\": 307.91, \"24-28\": 347.91, \"29-33\": 393.12, \"34-38\": 460, \"39-43\": 551.97, \"44-48\": 690.02, \"49-53\": 876.23, \"54-58\": 1157.63 },\n      \"apartamento\": { \"59+\": 1812.83, \"0-18\": 304.27, \"19-23\": 343.99, \"24-28\": 388.51, \"29-33\": 439.02, \"34-38\": 513.66, \"39-43\": 616.39, \"44-48\": 770.55, \"49-53\": 978.51, \"54-58\": 1292.68 }\n    }\n  },\n  \"support_tables\": {\n    \"carencia_rules\": {\n      \"pf\": { \"Parto\": \"300 dias\", \"Consultas\": \"30 dias\", \"Urgência\": \"24h\", \"Internações\": \"180 dias\", \"Preexistência\": \"24 meses\" },\n      \"pj\": { \"Parto\": \"300 dias\", \"Consultas\": \"ZERO (conforme contrato)\", \"Urgência\": \"ZERO\", \"Internações\": \"180 dias\", \"Preexistência\": \"24 meses\" }\n    },\n    \"rede_credenciada\": {\n      \"pf_vital\": [\"Hospital Santa Maria\",\"ProntoMed Infantil\",\"Med Imagem Centro\",\"Med Imagem Kids\",\"Maternidade Med Imagem\",\"Hospital Francisco Vilar\",\"Hospital Flávio Santos\"],\n      \"pj_vital\": [\"Mesma rede do PF Vital\"],\n      \"pf_superior\": [\"Toda rede Vital\",\"Clínica Otorrinos\"],\n      \"pj_superior\": [\"Toda rede Vital\",\"Hospital São Marcos\",\"Hospital São Paulo\",\"Clínica Otorrinos\"]\n    }\n  }\n};\n// ============================================================\n\nconst faixa = faixaDe(idade);\nlet planos = [];\nlet tabela_usada = '';\nlet promocao_adesao = '';\n\nif (perfil === 'PJ') {\n  tabela_usada = 'pj_by_age_band';\n  const band = (PRICING.pricing_tables.pj_by_age_band || {})[faixa] || {};\n  for (const [produto, valor] of Object.entries(band)) {\n    const linha = produto.indexOf('Vital') === 0 ? 'Vital' : 'Superior';\n    const modalidade = produto.replace(/^Vital\\s|^Superior\\s/, '');\n    planos.push({ linha, modalidade, valor_mensal: valor });\n  }\n  promocao_adesao = 'PJ/MEI: 30% de desconto nas 6 primeiras mensalidades + isenção de coparticipação (4 meses nas linhas Vital; toda a vigência na linha Superior).';\n} else {\n  const menor = idade < 18;\n  const vitalKey = (menor || !obstetricia) ? 'pf_vital_sem_obstetricia' : 'pf_vital_com_obstetricia';\n  tabela_usada = vitalKey + ' + pf_superior';\n  const vital = (PRICING.pricing_tables[vitalKey] || {})[faixa] || {};\n  for (const [modalidade, v] of Object.entries(vital)) {\n    planos.push({ linha: 'Vital', modalidade, valor_mensal: v.full });\n  }\n  const sup = (PRICING.pricing_tables.pf_superior || {})[faixa] || {};\n  for (const [modalidade, v] of Object.entries(sup)) {\n    planos.push({ linha: 'Superior', modalidade, valor_mensal: v.full });\n  }\n  promocao_adesao = 'Copay Completa: 100% off na 1ª mensalidade e 50% na 2ª. Copay Básica: 20% nas 4 primeiras. Depois, valor cheio.';\n}\n\nreturn [{ json: { perfil, idade, faixa_etaria: faixa, tabela_usada, planos, promocao_adesao } }];"
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Cotar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Cotar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cotar": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}